<h>@<%= @id %>さんの質問箱</h>
<% if @check == false %>
    <ul>
        <% @questions.each do |que| %>
            <li>
                <%= que.content %>
                <a href="https://twitter.com/intent/tweet?text=[Q：<%= url_encode(que.content) %>]&url=https://hiroqat.herokuapp.com/new/<%= que.uname %>" onClick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;" rel="nofollow" class="twitter-link">
                    【質問に回答】
                </a>
            </li>       
        <% end %>
    </ul>
<% else %>
    <div>あなた宛ての質問はまだありません。</div>
<% end %>
<a href="https://twitter.com/intent/tweet?text=<質問はこちらへ！>&url=https://hiroqat.herokuapp.com/new/<%= @id %>" onClick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;" rel="nofollow" class="twitter-link">
    【自分の質問箱を共有しよう】
</a>