<%= form_with model: Question.new, url: {action: :create}, local: true do |f| %>
    <h>@<%= @uname %>さんの質問箱です。</h>
    <div>
        <%= f.label :content %>
        <%= f.text_area :content, id: 'que_content' %>
    </div>
    <%= f.submit ['質問する']%>
<% end %>